.headline-intro {
  font-family: Rubik, serif;
  padding: 4vw;
  text-align: center;
  font-size: 2vw;
  font-weight: 500;
}
.profiles-icon-company {
  width: 17vw;
  height: 8vw;
  margin-left: 2vw;
  margin-right: 2vw;
}