.outer-container {
  padding-left: 6vw;
  padding-right: 6vw;
  padding-top: 3vw;
  background-color: #ffffff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: none;
  overflow-y: auto;
  height: 600px;
}
.profiles-icon {
  width: 18vw;
  height: 10vw;
  pointer-events: none;
  margin-left: 5vw;
  margin-right: 5vw;
}
.intro-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  padding-bottom: 3vw;
}
